* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-image: url(./image/IMG_0468.JPG);
  background-size: cover;
}

.content {
  background: whitesmoke;
  margin: 30px auto;
  max-width: 720px;
  /* height: 850px; */
  border-radius: 18%;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-wrap: wrap;
}
.photo {
  height: 100%;
  width: 250px;
}
.photo h1 {
  margin: -25px 0px 0px 30px;
  width: 200px;
  font-family: sans-serif;
  font-size: 50px;
  color: rgb(108 92 110);
  line-height: 50px;
}

.photo img {
  height: 260px;
  width: 250px;
  border-radius: 50%;
}

.about_me {
  width: 460px;
  padding: 55px 0px 0px 10px;
}

.about_me p {
  font-family: -webkit-pictograph;
  text-indent: 30px;
}

.title {
  font-family: -webkit-pictograph;
  font-size: 30px;
  padding: 0 10px 30px 0px;
}

.text {
  font-family: -webkit-pictograph;
  font-size: 25px;
  padding: 0 30px 0 0px;
  line-height: 27px;
}

ul li {
  list-style: inside;
}

main {
  padding: 0px 0px 0px 60px;
}

.skills_and_experience {
  display: flex;
  flex-wrap: wrap;
  margin: 45px 0px 50px -15px;
}

.skills {
  display: block;
}

.experience {
  display: block;
}

.education_and_contacts {
  display: flex;
  flex-wrap: wrap;
  margin: 45px 0px 50px -15px;
}

.education {
  display: block;
  width: 320px;
}

.contacts {
  display: block;
}

.footer_block {
  /* background-color: bisque; */
  width: 100%;
  height: 130px;
  /* margin: -150px auto; */
}
.github_and_rsschool {
  display: flex;
  flex-wrap: wrap;
  /* width: 500px; */
  margin: 20px auto;
}

.github {
  font-family: -webkit-pictograph;
  display: block;
  margin: 30px auto;
  font-size: 15px;
}

.rsschool {
  display: block;
  width: 150px;
  height: 25px;
  margin: 20px auto;
}

.year {
  font-family: -webkit-pictograph;
  font-size: 15px;
  margin: 0px 0px 15px 48%;
}
